#list {
  border: 1px solid black;
  display: inline-block;
}
#info {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#map {
  justify-content: c;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li {
  border-bottom: 1px solid black;
}
h2 {
  text-align: center;
}
/* .modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;
  height: 600px;

  padding: 40px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}
.modal-close {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 10px;
  right: 10px;
} */

#cc {
  color: black;
  margin: 0 5px 0 5px;
}
.item {
  border: 1px solid black;
  height: 60px;
}
/* .container {
  /* display: inline-block; */
/* height: 800px;
  float: left;
} */
.modal_wrap {
  display: none;
  width: 500px;
  height: 500px;
  position: absolute;
  border: 2px solid black;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  padding: 10px;
  background: #eee;
  z-index: 2;
}
.modal_background {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}
.modal_close {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* .modal_wrap .text {
  margin-top: 45px;
  margin-left: 5px;
} */

.modal_close .closeImg {
  display: block;
  width: 100%;
  height: 100%;
}
.text {
  margin: 0px;
}
h3 {
  margin-bottom: 1px;
}
#firstinfo {
  background-color: rgba(35, 139, 231, 0.651);
  margin-left: 5px;
  margin-right: 5px;
}
.btn {
  float: right;
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-right: 5px;
}
.searchbox {
  border: 1px solid black;
  display: inline-block;

  height: 600px;
  justify-content: center;
}
.container {
  height: 500px;
  overflow-y: scroll;
  display: inline-block;
}
.wiwi {
  margin-top: 3rem;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
